@model Webbanhang.DataAccess.Category
@{
    ViewData["Title"] = "Chi tiết danh mục";
}

<h2>Chi tiết danh mục</h2>

<div class="card shadow-lg border-0 rounded-lg p-4">
    <div class="card-body">
        <h3 class="fw-bold">@Model.Name</h3>
    </div>
</div>

<a asp-action="Index" class="btn btn-primary mt-3">Quay lại danh sách</a>
